@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
   
}

body, html {
    background-color: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

div#imagem {
    display: block;
    background-image: url(../images/image-product-mobile.jpg);
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#infor {
    display: block;
    padding: 10px;
}

#infor > h6 {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
   
}

#infor > h1 {
    font-size: 30px;
}

#infor > p {
    font-size: 14px;
}

#infor > a {
    display: block;
    text-align: center;
    padding-top: 8px;
    width: 100%;
    height: 40px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}